    body {
        font-family: Arial, sans-serif;
        background-color: #f2f5f7;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #2c3e50;
    }

    fieldset {
        background-color: #ffffff;
        border: 2px solid #3498db;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    legend {
        font-weight: bold;
        font-size: 1.2em;
        color: #2980b9;
    }

    label {
        font-weight: bold;
        color: #34495e;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 10px;
    }

    h3 {
        color: #2c3e50;
    }

    input[type="submit"] {
        background-color: #3498db;
        color: rgb(120, 148, 231);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #2980b9;
    }

